@use "../../../scss/abstracts/" as *;

.o_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  position: relative;
  z-index: 20;

  .logo_link {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 30px;
    height: 30px;
  }
  .header_link {
    display: none;
    background-color: $primary-color;
  }

  @include from($large) {
    height: 68px;

    &.main_container {
      padding-left: 56px;
      padding-right: 56px;
    }

    .logo_link {
      position: unset;
      translate: unset;
    }
    .header_link {
      border: 1px solid $white-color;
      border-radius: 4px;
      display: flex;
      font-size: 0.875rem;
      height: 36px;

      &:hover {
        background-color: $white-color;
        color: $primary-color;
      }
    }
    .o_header__actions {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }
  @include from($x-large) {
    width: 100%;
    left: 50%;
    translate: -50%;
    position: absolute;
  }
}
