@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

img {
  max-height: 100%;
}

body {
  background-color: var(--bg-page-color);
  color: var(--font-main-color);
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
}

body,
button,
input,
select,
textarea {
  font-family: $font-family-sofia, system-ui, -apple-system, sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
