$primary-color: #0182ff;
$primary-light-color: rgba(1, 130, 255, 0.15);

$danger-color: #ff504f;
$light-color: #e7e9ec;

$bg-dark-secondary: #00172e;

$white-color: #fff;
$white-90-color: rgba(255, 255, 255, 0.9);
$white-80-color: rgba(255, 255, 255, 0.8);
$white-61-color: rgba(255, 255, 255, 0.61);
$white-40-color: rgba(255, 255, 255, 0.4);

$white-90-color-dark-theme: rgba(0, 0, 0, 0.9);
$white-80-color-dark-theme: rgba(0, 0, 0, 0.8);
$white-61-color-dark-theme: rgba(0, 0, 0, 0.61);
$white-40-color-dark-theme: rgba(0, 0, 0, 0.4);

$dark-color: #000a14;
$dark-58-color: rgba(0, 10, 20, 0.58);
$dark-50-color: rgba(0, 10, 20, 0.502);
$dark-12-color: rgba(0, 10, 20, 0.12);
$dark-10-color: rgba(0, 10, 20, 0.1);
$dark-5-color: rgba(0, 10, 20, 0.05);

$dark-58-color-dark-theme: rgba(255, 245, 235, 0.58);
$dark-50-color-dark-theme: rgba(255, 245, 235, 0.502);
$dark-12-color-dark-theme: rgba(255, 245, 235, 0.12);
$dark-10-color-dark-theme: rgba(255, 245, 235, 0.1);
$dark-5-color-dark-theme: rgba(255, 245, 235, 0.05);

$small: 375px;
$medium: 768px;
$large: 960px;
$x-large: 1250px;
$xx-large: 1440px;

$font-family-sofia: "Sofia-Pro";
